ul{
	list-style-type:none;
	padding:0;
	margin:0;
}
li{
	display:inline-block;
	padding:5px;
	border:1px outset #375f85;
	background-color:#375f85;
	color:white;
	width:100px;
	position:relative;
	margin:-2px;
	cursor:pointer;
}
#menuHorizontal{
	text-align:center;
}
.submenu{
	position:absolute;
	top:30px;
	left:1px;
	box-shadow:0px 5px 5px #000;
	border-radius:0px 0px 10px 10px;
	display:none;
	animation-duration:0.8s;
}
.submenu li:last-child{
	border-radius:0px 0px 10px 10px;
}

.submenu>li{
	display:block;
	animation-duration:1.5s;
}
.submenu>li:hover{
	background-color:#c9d7e6;
	transform:scale(1.1);
	text-shadow:2px 2px 2px #375f85;
	z-index:2;
	animation-name:botonsubmenu;
}
@keyframes botonsubmenu{
	0%{
		text-shadow:200px 2px 20px #375f85;
	}
	50%{
		transform:scale(1.3);
		border-radius:5px;
	}
	100%{
		transform:scale(1.1);
		text-shadow:2px 2px 1px #375f85;
	}
}

#menuHorizontal>li:hover{
	background-color:#abc;
	padding-top:10px;
	box-shadow:0px 0px 4px #375f85;
	border-radius:10px 10px 0px 0px;
	border:1px outset #d0dbe6;
	text-shadow:1px 1px 1px #375f85;
}
#menuHorizontal>li:first-child{
	background-color:#d0dbe6;
	padding-top:10px;
	box-shadow:0px 0px 4px #375f85;
	border-radius:10px 10px 0px 0px;
	border:1px outset #d0dbe6;
	text-shadow:1px 1px 1px #375f85;
}
#menuHorizontal>li:hover ul{
	display:block;
	animation-name:submenu;
}
@keyframes submenu{
	0%{
		opacity:0;
		left:-150px;
	}
	50%{
		transform:skew(10deg);
		box-shadow:-10px 4px 8px 5px #000;
	}
	100%{
		opacity:1;
		left:1px;
	}
}
#menuHorizontal>li{
	transition:all 0.6 ease;
}


