body{
	margin:0px;
}
#barraHorizontal{
	width:960px;
	height:30px;
	background-color:#4ba;
	margin:auto;
	border-radius: 0px 0px 20px 20px;
	box-shadow:0px 0px 5px #000 inset;
	position:relative;
	z-index:2;
}

ul{
	list-style-type:none;
	margin:0px;
	padding:0px;
	text-align:center;
}

#menu>li{
	display:inline-block;
	padding:5px;
	margin:0px 10px 0px 10px;
}

.panel{
	background-color:rgb(7%, 42%, 38%);
	color:#FFF;
	width:150px;
	height:200px;
	border-radius:20px;
	box-shadow:0px 0px 5px #000 inset, 0px 0px 5px #000;
	padding-top:100px;
	position:relative;
	top:-250px;
	transform-style:preserve-3d;
}

.panel:hover{
	animation:animacion ease 2s forwards;
}
@keyframes animacion{
	0%{
		top:-250px;
	}
	50%{
		top:-20px;
	transform:rotateY(0deg);
	}
	100%{
		top:-20px;
	transform:rotateY(180deg);
	}
}

.front>img{
	margin-bottom:50px;
}
.front{
	backface-visibility:hidden;
}
.back{
	position:absolute;
	top:20px;
	transform:rotateY(180deg) translateZ(100px);
}
.back>ul>li{
	background-color:#90DDD2;
	width:150px;
	margin-top:30px;
}

.back>ul>li:hover{
	transform:scale(1.2);
	cursor:pointer;
	box-shadow:0px 5px 0px hsl(171,53%,42%), 0px 10px 10px #000, 0px 0px 3px #136C60 inset;
	border-radius:3px;
}

.back>ul>li:active{
	transform:scale(1.2) translateY(3px);
	box-shadow:0px 3px 0px hsl(171,53%,42%), 0px 10px 10px #000, 0px 0px 3px #136C60 inset;
	border-radius:3px;
}


