#principal{
    width:600px;
    padding:20px;
    background-color: #A4A4A4 ;
    margin: auto;
    text-align: center;
    border-radius: 10px;
}
#editor{
    width:560px;
    background-color: #BDBDBD;
    padding: 15px;
    border-radius: 10px;
    margin:10px auto;
    text-align: center;
}
#contenido{
    width: 500px;
    min-height: 100px;
    padding: 10px;
    background-color: #F2F2F2;
    margin: auto;
    border: 2px solid black;
}
#botones{
    padding:12px;
    width: 540px;
    background-color: #848484;
    margin:10px auto;
    border-radius: 20px;
}
.boton{
    width:30px;
    height: 30px;
    border: 1px solid black;
}

h2{
    background-color: #585858;
    border: 3px solid white;
    color:white;
}